.my-body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.my-container {
    height: 100vh;
}

.my-carousel {
    height: 70%;
}

.cover-link {
    color: #0AC0F0;
    font-family: 'Open Sans', sans-serif;;
}

.cover-link:hover {
    color: #93E8FF;
}

.display-2 {
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 550px) {
    .medium-display {
        font-size: 50px;
        padding-top: .5em;
        padding-bottom: 1em;
    }

    .medium-muted {
        font-size: 42px;
    }
}

@media screen and (max-width: 769px) {
    .its-about-me{
        text-align: center !important;
    }

    .contact-button, .info-p-me {
        justify-content: center;
    }

    .this-is {
        display: inline-block;
    }

    .trouble-row {
        justify-content: center;
    }
}

@media screen and (min-height: 900px) {
    .my-big-viewport {
        margin-bottom: 7em;
    }
}

.head-jake, .my-info-display {
    font-family: 'Roboto Mono', monospace;
}

.cover-info, .info-p-me, .info-p {
    font-family: 'Open Sans', sans-serif;
}

.my-h5 {
    font-family: 'Roboto Mono', monospace;
}

.carousel-info {
    font-family: 'Open Sans', sans-serif;
}

.big-button{
    font-family: 'Roboto Mono', monospace;
}

.container {
    height: 100vh;
}

.my-label {
    font-family: 'Roboto Mono', monospace;
}

.footer {
    flex-shrink: 0;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.row-spacer {
    height: 5em;
}

.my-card {
    background-color: black;
}

.my-card-title {
    font-family: 'Roboto Mono', monospace;
}

.contact {
    padding: 0.5em;
}

.fa-paper-plane {
    color: tomato;
    height: 45px;
}

.paperplane {
    padding: 0 5em 0 5em;
}

.divider {
    border-left: 2px solid #0AC0F0;
    height: inherit;
    padding-left: 1em;
    padding-right: 1em;
}