.my-body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.my-container {
    height: 100vh;
}

.my-carousel {
    height: 70%;
}

.cover-link {
    color: #0AC0F0;
    font-family: 'Open Sans', sans-serif;;
}

.cover-link:hover {
    color: #93E8FF;
}

.display-2 {
    font-family: 'Roboto Mono', monospace;
}

@media screen and (max-width: 550px) {
    .medium-display {
        font-size: 50px;
        padding-top: .5em;
        padding-bottom: 1em;
    }
}

.head-jake, .my-info-display {
    font-family: 'Roboto Mono', monospace;
}

.cover-info, .info-p-me, .info-p {
    font-family: 'Open Sans', sans-serif;
}

.info-p-me {

}

.my-h5 {
    font-family: 'Roboto Mono', monospace;
}

.carousel-info {
    font-family: 'Open Sans', sans-serif;
}

.big-button{
    font-family: 'Roboto Mono', monospace;
}

.container {
    height: 100vh;
}

.my-label {
    font-family: 'Roboto Mono', monospace;
}

